
{{write-tile saveBlog="saveBlog" deleteBlog="deleteBlog"}}
{{#each model as |blog|}}
  {{blog.title}}
  {{blog.date}}
  {{blog.content}}
  <button {{action 'delete' blog}}>Delete</button>
{{/each}}
{{#link-to 'index'}}Home{{/link-to}}
{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Contact{{/link-to}}
